@media(max-width: 840px) {
    [class*=desctop] {
        display: none;
    }
    [class*=mobile] {
        display: block;
    }
    .mobile-nav__button {
        padding: 0;
    }
    .nav {
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: var(--white);
        flex-direction: column;
        padding: 20px;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        gap: 20px;
        font-size: 16px;
    }
    .nav.active {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .nav__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--black-20);
        padding-bottom: 10px;
    }
    .nav .header__button {
        border-left:  none;
        border-right: 1px solid var(--black);
        padding: 0 10px;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    .program {
        background-size: cover;
    }
    .program .container {
        align-items: center;
        text-align: center;
    }
    .section__button {
        align-self: center;
    }
    .footer__mid {
        flex-direction: column;
        align-items: center;
    }
    .footer__link {
        border: none;
        text-align: center;
    }
}
@media(max-width: 640px) {
    button, [class*=button] {
        padding: 10px 15px;
        font-size: 16px;
    }
    .header__sub .container {
        padding: 10px 0;
    }
    .header__link {
        font-size: 18px;
    }
    .logo {
        width: 120px;
    }
    .mobile-nav__button {
        padding: 0;
    }
    .promo__content {
        gap: 40px;
    }
    .promo__text {
        font-size: 16px;
    }
    .promo__title {
        font-size: 32px;
        text-align: center;
    }
    .section__header .decor {
        display: none;
    }
    section {
        padding: 20px 0;
    }
    .section__title {
        margin-bottom: 20px;
    }
    .rest .decor img {
        width: 25%;
    }
    .search {
        width: calc(100%/2);
    }
    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section__title {
        font-size: 24px;
    }
}